<h1>THE DATA</h1>

<ul>
	<% @data.each do |hash| %> 
	<li>
		Location: <%=hash["name"]%>
		<ul>
			<li> Latitude: <%=hash["lat"]%> </li>
			<li> Longitude: <%=hash["lng"]%> </li>
		</ul>
	</li>
	<% end %>
</ul>